@model HospitalManagmentSystem2._0.Models.Medicine

@{
    ViewBag.Title = "DetailsMedicineManager";
}

<h2>DetailsMedicineManager</h2>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineCount)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "EditMedicineManager", new { id = Model.IdMedicine }) |
    @Html.ActionLink("Back to List", "ListMedicinesManager")
</p>
<link href="@Url.Content("/Content/Style.css")" rel="stylesheet" type="text / css" />