<link href="@Url.Content("/Content/Style.css")" rel="stylesheet" type="text/css" />
@model HospitalManagmentSystem2._0.Models.Appointment

@{
    ViewBag.Title = "DetailsAppointmentAdministrator";
}

<h2>DetailsAppointmentAdministrator</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Samples)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Samples)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SamplesResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamplesResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imaging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imaging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagingResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagingResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnoses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnoses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditAllAppointmentsAdministrator", new { id = Model.IdAppointment }) |
    @Html.ActionLink("Back to List", "ListAllAppointmentsAdministrator")
</p>
